footer {
    background-color: lightgray;
    color: black;
    padding: 5px;
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}